In [2979]:
import pandas as pd
import numpy as np

In [2980]:
# Load csv data file
data = pd.read_csv('data/i4talent.csv')
data.head()

,WerknemerID,datum,geboortedatum,indiensttreding_datum,uitdiensttreding_datum,leeftijd,lengte_dienst,stad,afdeling,klant_id,geslacht_id,geslacht,uitdiensttreding_reden,uitdiensttreding_type,STATUS_JAAR,STATUS,BUSINESS_UNIT
0,6962,2018-12-31 05:06:00,1989-06-26 05:06:00,2013-05-23 05:06:00,1905-01-01 05:06:00,29.0,5.0,Amstelveen,BI,30,V,Vrouw,Niet van toepassing,Niet van toepassing,2018,Actief,Detachering
1,6212,2016-12-30 05:06:00,1983-08-25 05:06:00,2010-04-24 05:06:00,1905-01-01 05:06:00,33.0,6.0,Utrecht,Accountant,21,M,Man,Niet van toepassing,Niet van toepassing,2016,Actief,Detachering
2,5325,2018-12-31 05:06:00,1976-04-24 05:06:00,2006-06-09 05:06:00,1905-01-01 05:06:00,42.0,12.0,Amsterdam,BI,42,V,Vrouw,Niet van toepassing,Niet van toepassing,2018,Actief,Detachering
3,8193,2018-12-31 05:06:00,1998-10-26 05:06:00,2018-04-28 05:06:00,1905-01-01 05:06:00,20.0,NaN,Utrecht,BI,21,V,Vrouw,Niet van toepassing,Niet van toepassing,2018,Actief,Detachering
4,5926,2013-12-31 05:06:00,1981-03-19 05:06:00,2009-01-09 05:06:00,1905-01-01 05:06:00,32.0,4.0,Den Haag,Accountant,18,M,Man,Niet van toepassing,Niet van toepassing,2013,Actief,Detachering

In [2981]:
data.shape

(49753, 17)

# Exploratory Data Analysis

In [2982]:
# data.dtypes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49753 entries, 0 to 49752
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   WerknemerID             49753 non-null  int64
 1   datum                   49753 non-null  object
 2   geboortedatum           49753 non-null  object
 3   indiensttreding_datum   49753 non-null  object
 4   uitdiensttreding_datum  49753 non-null  object
 5   leeftijd                44653 non-null  float64
 6   lengte_dienst           44802 non-null  float64
 7   stad                    44210 non-null  object
 8   afdeling                44688 non-null  object
 9   klant_id                49753 non-null  int64
 10  geslacht_id             49753 non-null  object
 11  geslacht                49753 non-null  object
 12  uitdiensttreding_reden  49753 non-null  object
 13  uitdiensttreding_type   49753 non-null  object
 14  STATUS_JAAR             49753 non-null  int64
 15  STATUS                  49753 non-null  object
 16  BUSINESS_UNIT           49753 non-null  object
dtypes: float64(2), int64(3), object(12)
memory usage: 6.5+ MB

In [2983]:
# Remove all duplicate rows
data.drop_duplicates(inplace=True)

In [2984]:
# Find number of missing values for each column
data.isna().sum()

WerknemerID                  0
datum                        0
geboortedatum                0
indiensttreding_datum        0
uitdiensttreding_datum       0
leeftijd                  5100
lengte_dienst             4951
stad                      5543
afdeling                  5065
klant_id                     0
geslacht_id                  0
geslacht                     0
uitdiensttreding_reden       0
uitdiensttreding_type        0
STATUS_JAAR                  0
STATUS                       0
BUSINESS_UNIT                0
dtype: int64

In [2985]:
# Set WerknemerID as index
data.set_index('WerknemerID', inplace = True)

In [2986]:
print("Total number of rows:", len(data))
print("Number of rows with any missing value:", data.isna().any(axis=1).sum(), "\n")

print("Total number of WerknemerIDs", len(data.index.unique()))
print("Number of WerknemerIDs with any missing value", len(data.loc[data.isna().any(axis=1)].index.unique()))

Total number of rows: 49721
Number of rows with any missing value: 17671

Total number of WerknemerIDs 6284
Number of WerknemerIDs with any missing value 5726

In [2987]:
# Examine all rows for one WerknemerID
data.loc[2008]

,datum,geboortedatum,indiensttreding_datum,uitdiensttreding_datum,leeftijd,lengte_dienst,stad,afdeling,klant_id,geslacht_id,geslacht,uitdiensttreding_reden,uitdiensttreding_type,STATUS_JAAR,STATUS,BUSINESS_UNIT
WerknemerID,,,,,,,,,,,,,,,,
2008,2020-12-30 05:06:00,1957-10-23 05:06:00,1996-08-31 05:06:00,1905-01-01 05:06:00,63.0,NaN,NaN,NaN,5,V,Vrouw,Niet van toepassing,Niet van toepassing,2020,Actief,Detachering
2008,2012-12-30 05:06:00,1957-10-23 05:06:00,1996-08-31 05:06:00,1905-01-01 05:06:00,55.0,16.0,Haarlem,Financial controller,5,V,Vrouw,Niet van toepassing,Niet van toepassing,2012,Actief,Detachering
2008,2011-12-31 05:06:00,1957-10-23 05:06:00,1996-08-31 05:06:00,1905-01-01 05:06:00,54.0,15.0,Haarlem,Financial controller,5,V,Vrouw,Niet van toepassing,Niet van toepassing,2011,Actief,Detachering
2008,2017-12-31 05:06:00,1957-10-23 05:06:00,1996-08-31 05:06:00,1905-01-01 05:06:00,60.0,21.0,Haarlem,Financial controller,5,V,Vrouw,Niet van toepassing,Niet van toepassing,2017,Actief,Detachering
2008,2015-12-31 05:06:00,1957-10-23 05:06:00,1996-08-31 05:06:00,1905-01-01 05:06:00,58.0,19.0,Haarlem,Financial controller,5,V,Vrouw,Niet van toepassing,Niet van toepassing,2015,Actief,Detachering
2008,2019-12-31 05:06:00,1957-10-23 05:06:00,1996-08-31 05:06:00,1905-01-01 05:06:00,NaN,23.0,Haarlem,Financial controller,5,V,Vrouw,Niet van toepassing,Niet van toepassing,2019,Actief,Detachering
2008,2018-12-31 05:06:00,1957-10-23 05:06:00,1996-08-31 05:06:00,1905-01-01 05:06:00,61.0,22.0,Haarlem,Financial controller,5,V,Vrouw,Niet van toepassing,Niet van toepassing,2018,Actief,Detachering
2008,2016-12-30 05:06:00,1957-10-23 05:06:00,1996-08-31 05:06:00,1905-01-01 05:06:00,59.0,20.0,Haarlem,NaN,5,V,Vrouw,Niet van toepassing,Niet van toepassing,2016,Actief,Detachering
2008,2014-12-31 05:06:00,1957-10-23 05:06:00,1996-08-31 05:06:00,1905-01-01 05:06:00,57.0,18.0,Haarlem,NaN,5,V,Vrouw,Niet van toepassing,Niet van toepassing,2014,Actief,Detachering
2008,2013-12-31 05:06:00,1957-10-23 05:06:00,1996-08-31 05:06:00,1905-01-01 05:06:00,56.0,17.0,Haarlem,Financial controller,5,V,Vrouw,Niet van toepassing,Niet van toepassing,2013,Actief,Detachering

We see that there are multiple rows for each WerknemerID, with some missing values. We found before that leeftijd, lengte_dienst, stad and afdeling are the only columns with missing values. We can calculate leeftijd and lengte_dienst by using the columns datum, geboortedatum, indiensttreding_datum and uitdiensttreding_datum. For the missing values in columns stad and afdeling, we will simply find their values in other rows with the same WerknemerID index. We will do so in the next section.

## Filling in missing data

In [2988]:
# Change date strings to type Timestamp
cols = ['datum', 'geboortedatum', 'indiensttreding_datum', 'uitdiensttreding_datum']
data[cols] = data[cols].apply(pd.to_datetime, errors='raise')
# data.dtypes # Check

#### Column 'leeftijd'

In [2989]:
# Condition:
is_na = data['leeftijd'].isna() # leeftijd has missing value

# Calculate leeftijd and add to data set
leeftijd_days = data.loc[is_na, 'datum'] - data.loc[is_na, 'geboortedatum']
leeftijd_years = np.floor(leeftijd_days / pd.Timedelta(365.2422, 'days')) # number of full years (rounded down)

data.loc[is_na, 'leeftijd'] = leeftijd_years

#### Column 'lengte_dienst'

In [2990]:
# If STATUS is Actief -> lengte_dienst_v2 = indiensttreding_datum - datum
# If STATUS is Beëindigd -> lengte_dienst_v2 = indiensttreding_datum - uitdiensttreding_datum

# Conditions:
is_na = data['lengte_dienst'].isna() # lengte_dienst has missing value
active = data['STATUS'] == 'Actief' # Status is active
nonactive = data['STATUS'] == 'Beëindigd' # Status is nonactive

# Calculate lengte_dienst for active employees and add to data set
ld_active_days = data.loc[is_na&active, 'datum'] - data.loc[is_na&active, 'indiensttreding_datum']
ld_active_years = np.floor(ld_active_days / pd.Timedelta(365.2422, 'days')) # number of full years (rounded down)
data.loc[is_na&active, 'lengte_dienst'] = ld_active_years

# Calculate lengte_dienst for nonactive employees and add to data set
ld_nonactive_days = data.loc[is_na&nonactive, 'uitdiensttreding_datum'] - data.loc[is_na&nonactive, 'indiensttreding_datum']
ld_nonactive_years = np.floor(ld_nonactive_days / pd.Timedelta(365.2422, 'days')) # number of full years (rounded down)
data.loc[is_na&nonactive, 'lengte_dienst'] = ld_nonactive_years

#### Column 'stad'

In [2991]:
# Find WerknemerIDs that have more than one distinct value for a column
def ids_mult_col_vals(column):
    
    # All unique cities (stad) per WerknemerID (not counting missing stad values)
    vals_per_id = data.dropna(subset=[column]).groupby(['WerknemerID'])[column].unique()

    # Check if there are employees that have lived in multiple cities.
    ids_with_mult_vals = []
    for werknemer_id, vals in zip(vals_per_id.index, vals_per_id):
        if len(vals) > 1:
            ids_with_mult_vals.append(werknemer_id)
            
    return vals_per_id, ids_with_mult_vals

cities_per_id, ids_with_mult_cities = ids_mult_col_vals('stad')
print("Number of WerknemerIDs with more than one city: ", len(ids_with_mult_cities))

Number of WerknemerIDs with more than one city:  0

We can see that there are no employees that have lived in more than one city. Therefore, we can simply copy the city value from any of the rows for a particular WerknemerID.

In [2992]:
# Get first element of list of cities for each WerknemerID (as there is only one in each list)
city_per_id = cities_per_id.map(lambda x: x[0])

# Update missing values with city per WerknemerID
data.update(city_per_id, overwrite = False)

print("Number of rows with missing value for 'stad':", data['stad'].isna().sum())
print("Number of WerknemerIDs with missing values for 'stad':", len(data.loc[data['stad'].isna()].index.unique()))

Number of rows with missing value for 'stad': 645
Number of WerknemerIDs with missing values for 'stad': 93

The remaining 107 employees with missing values for the column 'stad' have no value for 'stad' in any row. This means that we cannot fill in these missing data.

#### Column 'afdeling'

In [2993]:
departments_per_id, ids_with_mult_departments = ids_mult_col_vals('afdeling')
print("Number of WerknemerIDs with more than one department: ", len(ids_with_mult_departments))

Number of WerknemerIDs with more than one department:  0

Again, we can see that there are no employees that have worked for more than one department. Therefore, we can simply copy the department value from any of the rows for a particular WerknemerID.

In [2994]:
# Get first element of list of cities for each WerknemerID (as there is only one in each list)
department_per_id = departments_per_id.map(lambda x: x[0])

# Update missing values with city per WerknemerID
data.update(department_per_id, overwrite = False)

print("Number of rows with missing value for 'afdeling':", data['afdeling'].isna().sum())
print("Number of WerknemerIDs with missing values for 'afdeling':", len(data.loc[data['afdeling'].isna()].index.unique()))

Number of rows with missing value for 'afdeling': 116
Number of WerknemerIDs with missing values for 'afdeling': 29

The remaining 29 employees with missing values for the column 'stad' have no value for 'stad' in any row. This means that we cannot fill in these missing data.

#### Removing (more) duplicates
It could be that by filling in missing values, we have created more duplicates. Therefore, we have to check whether this happened and in case it did, drop the duplicates. To do this, we must first reset the index, because otherwise we might find duplicates that in fact have a different WerknemerID.

In [2995]:
data.reset_index(inplace = True)
data.drop_duplicates(inplace = True)
data.set_index('WerknemerID', inplace = True)

#### Remaining missing values

In [2996]:
print("Number of rows with any missing value:", data.isna().any(axis=1).sum())
print("Number of WerknemerIDs with any missing value", len(data.loc[data.isna().any(axis=1)].index.unique()))

Number of rows with any missing value: 755
Number of WerknemerIDs with any missing value 116

In [2997]:
# Remove missing values for now
data.dropna(inplace = True)

#### Only keep the latest status updates

In [2998]:
# Find the latest status date for each WerknemerID
latest_date_per_id = data.groupby(['WerknemerID'])['datum'].max()

# Find intersection of original data set and lates date per WerknemerID
data = data.merge(latest_date_per_id, how = 'inner', on = ['WerknemerID', 'datum'])

In [2999]:
print("Total number of rows:", len(data))
print("Number of rows with any missing value:", data.isna().any(axis=1).sum(), "\n")

print("Total number of WerknemerIDs", len(data.index.unique()))
print("Number of WerknemerIDs with any missing value", len(data.loc[data.isna().any(axis=1)].index.unique()))

Total number of rows: 6168
Number of rows with any missing value: 0

Total number of WerknemerIDs 6168
Number of WerknemerIDs with any missing value 0

## Examine columns

In [3000]:
data.describe()

          leeftijd  lengte_dienst     klant_id  STATUS_JAAR
count  6168.000000    6168.000000  6168.000000  6168.000000
mean     44.690986      12.843061    26.934663  2019.005674
std      14.091175       6.734513    13.422695     2.309616
min      19.000000       0.000000     1.000000  2011.000000
25%      32.000000       7.000000    16.000000  2020.000000
50%      45.000000      13.000000    26.500000  2020.000000
75%      58.000000      19.000000    41.000000  2020.000000
max      65.000000      26.000000    46.000000  2020.000000

In [3001]:
data['stad'].value_counts(dropna = False)

Amsterdam              1392
Rotterdam               663
Den Haag                502
Utrecht                 399
Rijswijk                305
Zoetermeer              265
Dordrecht               263
Haarlem                 258
Zaandam                 219
Eindhoven               197
Tilburg                 176
Almere                  160
Breda                   147
Leiden                  121
Alphen aan den Rijn     117
Delft                   109
Amstelveen              101
Schiedam                 94
Lelystad                 89
Capelle                  87
Zeist                    81
Gouda                    80
Hoogeveen                67
Roermond                 65
Woerden                  46
Middelburg               42
Pijnacker                39
Barendrecht              32
Alblasserdam             28
Veenendaal               24
Name: stad, dtype: int64

In [3002]:
data['afdeling'].value_counts(dropna = False)

Financial controller         1240
BI                           1166
Boekhouder                   1039
Accountant                   1026
Business analist              884
Credit controller             730
Project controller             35
Business controller            10
Administratief medewerker       9
HR                              6
Marketing                       6
Business development            5
IT                              5
Office manager                  4
Legal                           3
Name: afdeling, dtype: int64

In [3003]:
data['geslacht_id'].value_counts(dropna = False)

V    3221
M    2947
Name: geslacht_id, dtype: int64

In [3004]:
data['geslacht'].value_counts(dropna = False)

Vrouw    3221
Man      2947
Name: geslacht, dtype: int64

In [3005]:
data['uitdiensttreding_reden'].value_counts(dropna = False)

Niet van toepassing    4741
Pensioen                849
Vertrek                 364
Ontslag                 214
Name: uitdiensttreding_reden, dtype: int64

In [3006]:
data['uitdiensttreding_type'].value_counts(dropna = False)

Niet van toepassing    4741
Vrijwillig             1213
Niet vrijwillig         214
Name: uitdiensttreding_type, dtype: int64

In [3007]:
data['STATUS'].value_counts(dropna = False)

Actief       4741
Beëindigd    1427
Name: STATUS, dtype: int64

In [3008]:
data['BUSINESS_UNIT'].value_counts(dropna = False)

Detachering    6101
Intern           67
Name: BUSINESS_UNIT, dtype: int64

# Modelling

In [3009]:
# %reset